In [2]:
import numpy as np
import pandas as pd
import helper_functions as hf

pd.set_option("display.width", 150)

In [ ]:
# Run this cell to create the new modified_data folder
# ~ 1 min runtime
hf.concat_data()

In [ ]:
# Run this cell to tokenize Section/Product and NewMarketSegmentColumns on stock_list.csv
# ~ 20 secs runtime
hf.tokenize_stock_list()

In [ ]:
data = pd.read_csv("modified_data/stock_prices.csv")

In [24]:
x = data["Date"]
y = 0
for i in x:
    if i == "2017-01-12":
        y += 1
print(y)

1865

In [83]:
from datetime import date, timedelta
import calendar


date_str = "2017-05-03"
dto = datetime.strptime(date_str, '%Y-%m-%d').date()
print(calendar.day_name[dto.weekday()])

x = data["Date"]
y = 0
for i in x:
    if i == date_str:
        y += 1
print(y)

# z = dto.day
# w = dto.month
# print(z, w)
# print(type(dto))
# print(dto)

Wednesday
0

In [85]:
date_str = "2017-05-03"
dto = datetime.strptime(date_str, '%Y-%m-%d').date()
b = dto + timedelta(days=5)
a = dto.strftime("%Y-%m-%d")
print(type(a), a)
print(type(b), b)

<class 'str'> 2017-05-03
<class 'datetime.date'> 2017-05-08

In [87]:
a = [1, 2, 1, 4, 5, 2, 6, 1, 3, 5, 7, 3, 5, 7, 6]

v = a.index(7)
print(v)

10

In [1]:
from dataloader import JPXData

data = JPXData()

In [2]:
data[4]

Range of input  (7460, 9324), Number of Stocks on day 2017-01-11: 1865
Range of target (9325, 11189), Number of Stocks on day 2017-01-12: 1865

(      SecuritiesCode    Open
 7460            1301  2748.0
 7461            1332   559.0
 7462            1333  3210.0
 7463            1376  1569.0
 7464            1377  3260.0
 ...              ...     ...
 9320            9990  1210.0
 9321            9991  1144.0
 9322            9993  1849.0
 9323            9994  1750.0
 9324            9997   800.0

 [1865 rows x 2 columns],
        SecuritiesCode    Open
 9325             1301  2745.0
 9326             1332   553.0
 9327             1333  3185.0
 9328             1376  1545.0
 9329             1377  3290.0
 ...               ...     ...
 11185            9990  1198.0
 11186            9991  1152.0
 11187            9993  1860.0
 11188            9994  1740.0
 11189            9997   801.0

 [1865 rows x 2 columns])